@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  @apply bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-700;
  border-radius: 5px;
}
